data/*

!data/matched_csv/
!data/matched_csv/*
!data/counts/
!data/counts/*
!data/sortedcsv/
!data/sortedcsv/*
data/sortedcsv/yolov3_output.csv
data/sortedcsv/yolov5_output.csv
data/sortedcsv/yolov8_output.csv

.DS_Store

*.pt
models/*/weights/
models/ultralytics/*/weights/

runs/
runs/*


LISA-YOLOv3/
LISA-YOLOv5/
LISA-YOLOv8/

results/
my_results/

venv/
__pycache__/