# I highly recommend using a virtual environment to install these dependencies. 

# For Kaggle
kagglehub

# For YOLO
torch
torchvision
opencv-python
numpy
seaborn
ultralytics
PyYAML
tqdm

# For Data Analysis
pandas
scikit-learn
scikit-image
seaborn
matplotlib

# For Statistical Analysis
scipy 

# Other dependencies
Pillow  
pathlib